.ui-menu {
    background-color: #ffffff
}

.ui-menu .ui-menu-item {
    padding: 0.2rem;
    list-style-type: none;
    border-top: 1px solid#ADADAD;
    cursor: pointer;
}

.ui-menu .ui-menu-item:hover {
    background-color: #DDDDDD;

}

.ui-autocomplete {
    max-height: 50vh;
    overflow-y: auto;

    overflow-x: auto;
    padding-right: 1%;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}