
#body,
#general {
    width: 60%;
}

#general,#targets {
    border: .1rem solid rgb(180, 180, 180, 0.2);
}

.container .form-control {
    border: none;
    outline: none;
    background: transparent;
}

div {
    overflow: hidden;
}
@media (max-width: 575.98px) {
  .pad0{
    padding:0;

  }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}