<%- include ("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/trend_calendar.css"/>
    <link rel="stylesheet" href="/stylesheets/mainreport.css"/>

<div class="container mt-5">
    <div class="alert py-2" style="background-color: rgba(227, 125, 95,.2);" role="alert" id="no-record-r">
     No records added <a href="/addMeal" > Add Meal </a> <a href="/addExercise" >/ Add Exercise</a> 
    </div>

    <div class="row">
        <div class="col-12 row">
                <div id="report-header" class="row col-12  w-100">
                    <div id="range-div-r" class="col-md-9 col-sm-12 pr-0 row m-auto">
                      <div style='font-size:1.5rem' class="col-lg-4 col-sm-4 col-5 text-right ">Report #</div>
                      <select id="range-select-r"  class="form-control col-lg-6 col-sm-6 col-7 w-100" name="rangeReport"  placeholder="0">
                        <option value="today">Today</option>
                        <option value="yesterday">Yesterday</option>
                        <option value="allDate">All dates</option>
                         <option data-toggle="modal" data-target="#exampleModal" id="custom-report" value="custom">Custom duration</option>
                      </select>
                    </div>
                  <div id="custom-range-r" class="col-md-3 col-sm-12 ">
                    <div class="d-flex justify-content-center">
                    <button id="range-btn-r" class="btn" style="background-color: rgba(227, 125, 95);color:white">Get range</button>
                  </div>
                  </div>
                </div>
                
        </div>
         <div class="col-md-6 col-12  efficiency-div row">
           <div class="mt-3">
               <a class="px-2"href="#" role="button" data-trigger="focus" data-html="true" data-toggle="popover" data-placement="right" data-content="Value for eficiency must be near to 1. It denotes your progress. " >
                    <i class="fas fa-info-circle"  style="color: rgba(227, 125, 95)" ></i>
           </a>
            <div class=" px-1 col d-inline" id="efficiency-text"></div> 
           </div>
         
         
          <div id="efficiency" class=" col" class="bold">  </div>
        </div> 
        <div class=" col-10 mx-auto " id="show-report"></div>
       
        </div>
   
    <div class="modal fade" id="from-to-r" tabindex="-1" role="dialog" aria-labelledby="from-to-r" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Choose any particular range </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body row">
              <div id="first-r" class="col-6">
                  <div class=" calender border border-secondary px-0">
                            <div class="date d-flex justify-content-between align-items-center ">
                                    <i class="prev-date fa fa-angle-left  ml-3" aria-hidden="true"></i>
                                      <div class="dateString">
                                      </div> 
                                    <i class="next-date fa fa-angle-right  mr-3" aria-hidden="true"></i>
                            </div>
                            <div class="showCalender">
                              <div class="year-month d-flex justify-content-between align-items-center" >
                                <div>
                                      <i class="prev-year fas fa-angle-double-left ml-3"></i>
                                      <i class="prev-month fas fa-angle-left "></i>
                                 </div>
                                  <div class="myString">
                                      
                                  </div>
                                    <div>
                                      <i class="next-month fas fa-angle-right "></i>
                                      <i class="next-year fas fa-angle-double-right mr-3"></i>
                                    </div>
                                  
                              </div>
                              <div class="weekdays d-flex justify-content-around ">
                                  <div>Sun</div> 
                                  <div>Mon</div>
                                  <div>Tue</div>
                                  <div>Wed</div>
                                  <div>Thu</div>
                                  <div>Fri</div>
                                  <div>Sat</div>
                               </div>
                                
                                <div class="days d-flex flex-wrap">
                                  
                                </div> 
                                
                            </div>
                     </div>
               
                </div>
                
                 <div id="second-r" class="col-6">

                 </div>
                 
                       
          </div>
          <div class="d-inline-flex justify-content-around from-to-date">
            <span id="from-r"></span>
            <span>To</span>
            <span id="to-r"></span>
          </div>
           <div id="err-mssg-r">This duration is senseless</div>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-r" class="btn" style="background-color: rgba(227, 125, 95);color:white">Save changes</button>
           </div>
        </div>
      </div>
    </div>
   
   
  </div>

 <script>
   
  
          let length;//for length in calorie-date file
          let consumedArray=[];
          let burnedArray=[];
          let dates=[];
          let dataset=[];
          let type;
          const today = new Date()
          const yesterday = new Date(today)
          yesterday.setDate(yesterday.getDate() - 1);
           let burn_target;
                  let value_now;
                  let p_bar;
                  let remain;
                  let avg;
                  let efficiency;
                  let sum;
                  let sum2;
                  let efficiency2;
                  let avg2;
      
        let selected="today";
        let from="";
        let to="";
        let valid_from;
        let valid_to;
        let text;
        let text2;
        let labe;
        let label2;
        $(document).ready(function(){
         generateReport(selected,from,to);    
         })
          
        $("#range-select-r").on('change',(function(){
          selected= $(this).val();
           //alert(selected)
        
        if( selected=="custom"){
          $("#from-r").text(today.toLocaleDateString());
           $("#to-r").text(today.toLocaleDateString());
            $("#from-to-r").modal('show');
            $("#custom-range-r").show();
            $("#custom-range-r").click(function(){
              $("#from-to-r").modal('show');
            })            
        }
       else{
          from="";
          to="";
          $("#custom-range-r").hide();
        }   
                    
             generateReport(selected,from,to);
        }));
        
            

   $(".modal-content #err-mssg-r").hide();
   let m0,m1,d0,d1,y0,y1;
          $("#second-r").append($("#first-r").html());

       function extractWithDate(mm, dd, yy,k) {
                  $(".modal-content #err-mssg-r").hide();

                if(k==0){
                  $("#from-r").text((mm+1) +"/"+dd+"/"+yy);
                  m0=mm;
                  d0=dd;
                  y0=yy
                }
                else if(k==1) 
                {
                  $("#to-r").text((mm+1) +"/"+dd+"/"+yy)
                  m1=mm;
                  d1=dd;
                  y1=yy;
                }
                
                from=$("#from-r").text();
  
                to=$("#to-r").text();
                $("#save-r").unbind().click( function () {
                  
                            $("#from-to-r").modal('hide');
                                      generateReport(selected,from,to)
                                      
                })
                  if((m0 == m1 && d0 > d1)   ||  y0>y1 &&(selected=="custom") ){
                      $(".modal-content #err-mssg-r").show();
                  }
             }


     function generateReport(selected,from,to){
  
      //  alert(from + to)
       const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ];
    //    if(selected=="allDate"){
    //    $("#report-header").html("<span style='font-size:1.5rem'>Report # </span> All time records");
    //  } else {
    //         $("#report-header").html("<span style='font-size:1.5rem'>Report # </span>"+selected);
    //  }
     if(<%-findeduser.macroNutrientInfo.length%>){
         $("#show-report").html("<div class='d-flex justify-content-center align-items-center mt-5'> <img id='gif' src='images/spinner.gif' width='7%'height='7%'> </div>")
         $.ajax({
                    type: "GET", 
                    url: "/generateReport",
                    data:{selected:selected,from:from,to:to},
                    
                    success: function (result) {
                     $('#show-report').html(result);
                    },
                    error: function (xhr, status) {
                        alert("Sorry, there was a problem :(");
                    },
                
                });
              }
              else{
                 $("#no-record-r").show()
              }
        
     }
    

</script>
                             

 <script src="/script/calender.js"></script>

<script>
        getCalendar(0);
        getCalendar(1);
</script>
<%- include ("../partials/footer") %>

